
html, body         { margin: 0; padding: 0; border: 0; height: 100%; }
#core              { width: 100%; height: 100%; border-collapse: separate; border-spacing: 1em; background-color: #348; }
td                 { background-color: white; position: relative; background-color: #ddd; vertical-align: top; }

#notelist,
#taglist           { width: 250px; max-width: 250px; }

#notelist_div,
#taglist_div       { overflow: auto; height: 100%; }

#notelist a,
#taglist a         { color: #008; text-decoration: none; }

#notelist .item,
#taglist .item     { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; display: block; margin: 0.25em; background-color: white; border-radius: 5px; }

#notelist a:hover,
#taglist a:hover   { color: #00f; text-decoration: underline; background-color: #def; }

#tabound           { position: absolute; width: 100%; top: 0; bottom: 3em; background-color: white; overflow: hidden; }
#editor            { width: 99%; height: 100%; border: 0; overflow: auto; outline: none; }
#widgets           { position: absolute; width: 100%; bottom: 0; height: 2em; text-align: right; }
#widgets input     { margin-right: 1em; }

#taglist .slia div { margin-left: 1em; }