
html, body           { margin: 0; padding: 0; border: 0; height: 100%; }
#core                { width: 100%; height: 100%; border-collapse: separate; border-spacing: 1em; background-color: #348; }
td                   { background-color: white; position: relative; vertical-align: top; border: 0; padding: 0; margin: 0; }

#notelist,
#taglist             { width: 250px; max-width: 250px; height: 50%; }

#notelist_div        { overflow: auto; height: 100%; }
#taglist_table,
#taglist_table tr,
#taglist_table td    { overflow: auto; width: 100%; max-width: 100%; }

a.note, a.tag        { color: black; text-decoration: none; }
.note, .tag, .del    { cursor: pointer; }
a.tag                { display: block; }

.item                { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; display: block; margin-top: 0.2em; }
#taglist .item       { margin-left: 0.4em; }

#notelist .note:hover,
#taglist .note:hover { color: #008; text-decoration: underline; background-color: #def; }

#notelist .del:hover,
#taglist .del:hover  { color: #f00; }

#tabound             { position: absolute; width: 100%; top: 0; bottom: 3em; background-color: white; overflow: hidden; }
#editor              { width: 100%; height: 100%; border: 0; overflow: auto; outline: none; }
#widgets             { position: absolute; width: 100%; bottom: 0; height: 2em; text-align: right; }
#widgets input       { margin-right: 1em; }

#taglist .slia div   { margin-left: 1em; }

.del                 { color: rgba(0,0,0, 0.4); margin-left: 0.2em; }